challenge-2/challenge2.json
[{"id":"ed44f765.eb4f58","type":"tab","label":"Challenge Flow","disabled":false,"info":""},{"id":"8a835217.5a8ec","type":"debug","z":"ed44f765.eb4f58","name":"","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":940,"y":120,"wires":[]},{"id":"bf88af4c.42b22","type":"inject","z":"ed44f765.eb4f58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":60,"wires":[["fbd37a10.49fb58"]]},{"id":"fbd37a10.49fb58","type":"file in","z":"ed44f765.eb4f58","name":"Read traffic.csv","filename":"C:\\Users\\User\\Desktop\\traffic.csv","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":140,"y":100,"wires":[["a1b96f50.33b68","9fc85c2.c9f4ca"]]},{"id":"63f775eb.f76f2c","type":"function","z":"ed44f765.eb4f58","name":"Filter by topic","func":"const hexToAscii = (s) => {\n    let hex  = s.toString();\n    let str = '';\n    for (let n = 0; n < hex.length; n += 2) {\n\t    str += String.fromCharCode(parseInt(hex.substr(n, 2), 16));\n    }\n    return str;\n}\n\nconst getOriginalMessage = (s, m) => {\n    let temp = s;\n    const test = `[${m}] `;\n    // String management to retrieve the original message\n    // This way I'm already filtering the Publish Messages \n    // because the Subscribes do not have any message\n    s = s\n    .substring(s.indexOf(test) + test.length)\n    .split(\",\")\n    .filter((el) => el.length > 0)\n    .map((e) => e.substring(e.lastIndexOf(\" \")))\n    .map((e) => e.trim());\n    s = s.length > 0 ? s[s.length - 1] : null;\n    if(s != null && s.length > 0) {\n        s = JSON.parse(hexToAscii(s));\n        // Use this for debug purposes\n        // node.warn(s);\n        return s;\n    } else return null;\n    \n    \n    return s.length > 0 ? s[s.length - 1] : null;\n}\n\nlet types = [];\nfor(let i=0; i<20; i++){\n    types = [...types, msg.payload[`m${i}`]];\n}\nconst allMessages = types.join(\",\");\n\nconst plc1 = \"factory/department1/section1/plc\";\nconst plc3 = \"factory/department3/section3/plc\";\nconst valve1 = \"factory/department1/section1/hydraulic_valve\";\nconst valve3 = \"factory/department3/section3/hydraulic_valve\";\nconst plcs = \"factory/all_departments/plc\";\nconst valves = \"factory/all_departments/hydraulic_valve\";\nlet canBeReturned = false;\nlet toRet = {};\n\nif(allMessages.includes(plc1)){\n    let o = getOriginalMessage(allMessages, plc1);\n    if(o !== null){\n        toRet.payload = o.value;\n        toRet.topic = plcs;\n        canBeReturned = true;\n    }\n}\nif(allMessages.includes(plc3)){\n    let o = getOriginalMessage(allMessages, plc3);\n    if(o !== null){\n        toRet.payload = o.value;\n        toRet.topic = plcs;\n        canBeReturned = true;\n    }\n}\nif(allMessages.includes(valve1)){\n    let o = getOriginalMessage(allMessages, valve1);\n    if (o !== null){\n        toRet.payload = o.value;\n        toRet.topic = valves;\n        canBeReturned = true;\n    }\n}\nif(allMessages.includes(valve3)){\n    let o = getOriginalMessage(allMessages, valve3);\n    if (o !== null) {\n        toRet.payload = o.value;\n        toRet.topic = valves;\n        canBeReturned = true;\n    }\n}\n\nif(canBeReturned){\n    return toRet;\n    // return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":160,"wires":[["a2a1d45f.a6c588"]]},{"id":"52a68bb1.6e5034","type":"delay","z":"ed44f765.eb4f58","name":"Delay MQTT messages","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":750,"y":280,"wires":[["fe1ba4f9.05f448"]]},{"id":"a2a1d45f.a6c588","type":"function","z":"ed44f765.eb4f58","name":"Thingspeak msg fixes","func":"const API_KEY = \"89JTIETKQII3HOHX\";\nconst CHANNEL_ID = \"1358479\";\n\nconst plcs = \"factory/all_departments/plc\";\nconst valves = \"factory/all_departments/hydraulic_valve\";\n\nmsg.payload = `field${msg.topic.includes(plcs) ? '1' : '2'}=${msg.payload}`;\nmsg.topic = `channels/${CHANNEL_ID}/publish/${API_KEY}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":160,"wires":[["8a835217.5a8ec","692c5333.44483c","52a68bb1.6e5034"]]},{"id":"692c5333.44483c","type":"debug","z":"ed44f765.eb4f58","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":180,"wires":[]},{"id":"fe1ba4f9.05f448","type":"mqtt out","z":"ed44f765.eb4f58","name":"send mqtt","topic":"","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9a12fb87.7c42c8","x":940,"y":280,"wires":[]},{"id":"a1b96f50.33b68","type":"csv","z":"ed44f765.eb4f58","name":"Parse CSV string","sep":",","hdrin":false,"hdrout":"all","multi":"one","ret":"\\n","temp":"id,sourceIp,sourcePort,destIp,destPort,protocol,length,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,m15,m16,m17,m18,m19,m20","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":150,"y":140,"wires":[["63f775eb.f76f2c"]]},{"id":"9fc85c2.c9f4ca","type":"csv","z":"ed44f765.eb4f58","name":"Parse CSV string","sep":",","hdrin":false,"hdrout":"all","multi":"mult","ret":"\\n","temp":"id,sourceIp,sourcePort,destIp,destPort,protocol,length,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,m13,m14,m15,m16,m17,m18,m19,m20","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":370,"y":100,"wires":[["f2d7b5b9.07c8a8"]]},{"id":"f2d7b5b9.07c8a8","type":"debug","z":"ed44f765.eb4f58","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":100,"wires":[]},{"id":"9a12fb87.7c42c8","type":"mqtt-broker","name":"Thingspeak.com","broker":"mqtt.thingspeak.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]