KeepYourDistance/NodeRed.json
[{"id":"e824e3f4.02829","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"62a4718b.f34718","type":"tcp in","z":"e824e3f4.02829","name":"","server":"client","host":"localhost","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":203,"y":280,"wires":[["7cd9d887.2a5"]]},{"id":"9b5b4d00.7d5408","type":"tcp in","z":"e824e3f4.02829","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":203,"y":240,"wires":[["7cd9d887.2a5"]]},{"id":"2c9df34e.1a27bc","type":"tcp in","z":"e824e3f4.02829","name":"","server":"client","host":"localhost","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":203,"y":320,"wires":[["7cd9d887.2a5"]]},{"id":"51b06fec.3ec078","type":"tcp in","z":"e824e3f4.02829","name":"","server":"client","host":"localhost","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":203,"y":360,"wires":[["7cd9d887.2a5"]]},{"id":"e8d56548.ef0fa8","type":"tcp in","z":"e824e3f4.02829","name":"","server":"client","host":"localhost","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":203,"y":400,"wires":[["7cd9d887.2a5"]]},{"id":"7cd9d887.2a5","type":"function","z":"e824e3f4.02829","name":"Parser","func":"const MSTR = \"MOTE# \", CSTR = \"counter \", DATA = \"data\";\nconst MIN_THRESHOLD = 500, MAX_THRESHOLD = 1000;\n//node.warn(msg.payload);\nif(msg.payload.includes(\"met\")){\n    // Retrieve info from the message passed from the motes\n    let firstIndexOfMote = msg.payload.indexOf(MSTR) + MSTR.length;\n    let from = parseInt(msg.payload\n            .substring(firstIndexOfMote, msg.payload.indexOf(\" \", firstIndexOfMote + 1))\n            .trim()\n            .replace(/\\D/g,''));\n\n    let lastIndexOfMote = msg.payload.lastIndexOf(MSTR) + MSTR.length;\n    let to = parseInt(msg.payload\n            .substring(lastIndexOfMote, msg.payload.indexOf(\" \", lastIndexOfMote + 1))\n            .trim()\n            .replace(/\\D/g,''));\n    \n    /*let indexOfTime = msg.payload.indexOf(TSTR) + TSTR.length;\n    let time = parseInt(msg.payload\n            .substring(indexOfTime, msg.payload.indexOf(\" \", indexOfTime + 1))\n            .trim()\n            .replace(/\\D/g,''));\n    */\n\n    let counter = parseInt(msg.payload\n            .substring(msg.payload.lastIndexOf(\" \"))\n            .trim()\n            .replace(/\\D/g,''));\n    node.warn(`from: ${from}\\nto: ${to}\\ncounter: ${counter}\\n`);\n    // Get the context data\n    let data = context.get(DATA) || {};\n    let dataId = from < to ? `${from}_${to}` : `${to}_${from}`;\n    // Get the context data relative to that encounter\n    let encounterData = data[dataId] || {};\n    \n    if(encounterData.from==null || encounterData.from==undefined){\n        encounterData.from = from;\n        encounterData.counter = 1;\n        encounterData.lastmsg = counter;\n    }\n    else if (encounterData.from == from){\n        if( (encounterData.lastmsg +1) % Math.pow(2,32) == counter){\n            encounterData.counter ++;\n        }\n        else{\n            encounterData.counter = 1;\n        }\n        encounterData.lastmsg = counter;\n        if(encounterData.counter >= 10) {\n            msg.payload = {\"value1\" : from, \"value2\": to};\n            msg.event = \"proximity_detected\";\n        }\n    }\n    data[dataId] = encounterData;\n    context.set(DATA, data);\n    \n    //node.warn(encounterData);\n    node.warn(data);\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":320,"wires":[["bd3ff741.8063d","edaab199.f60ea8"]]},{"id":"bd3ff741.8063d","type":"switch","z":"e824e3f4.02829","name":"Debug Switch","property":"event","propertyType":"msg","rules":[{"t":"eq","v":"undefined","vt":"str"},{"t":"neq","v":"undefined","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":320,"wires":[["7b5bfce2.7345cc"],["799c46c6.6a055"]]},{"id":"7b5bfce2.7345cc","type":"debug","z":"e824e3f4.02829","name":"Debug Sink","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":800,"y":180,"wires":[]},{"id":"c6cb4686.7ad9b","type":"http request","z":"e824e3f4.02829","name":"Send POST to IFTTT","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/bFHjcBZO8AsG4DCDVsZbol","tls":"","x":1120,"y":400,"wires":[[]]},{"id":"799c46c6.6a055","type":"delay","z":"e824e3f4.02829","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":320,"wires":[["c6cb4686.7ad9b"]]},{"id":"edaab199.f60ea8","type":"debug","z":"e824e3f4.02829","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"debugStr","x":570,"y":120,"wires":[]}]
