KeepYourDistance/nodered.json
[{"id":"b5d1af96.0416f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c2770c1c.2b744","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60002","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":203,"y":280,"wires":[["b3582d09.4391a"]]},{"id":"85c1728c.2c7fb","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":203,"y":240,"wires":[["b3582d09.4391a"]]},{"id":"764afe15.b8556","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60003","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":203,"y":320,"wires":[["b3582d09.4391a"]]},{"id":"57b6e693.8da748","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60004","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":203,"y":360,"wires":[["b3582d09.4391a"]]},{"id":"e0e2ba3d.9155d8","type":"tcp in","z":"b5d1af96.0416f8","name":"","server":"client","host":"localhost","port":"60005","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":203,"y":400,"wires":[["b3582d09.4391a"]]},{"id":"b3582d09.4391a","type":"function","z":"b5d1af96.0416f8","name":"Parser","func":"const mStr = \"#\";\nif(msg.payload.includes(\"exceed\")){\n    node.warn(msg.payload[msg.payload.indexOf(mStr) + mStr.length]);\n    let from = parseInt(msg.payload[msg.payload.indexOf(mStr) + mStr.length]);\n    let to = parseInt(msg.payload[msg.payload.lastIndexOf(mStr) + mStr.length]);\n    msg.payload = {\"value1\" : from, \"value2\": to};\n    msg.event = \"proximity_detected\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":320,"wires":[["d607f0ee.104a58"]]},{"id":"d607f0ee.104a58","type":"switch","z":"b5d1af96.0416f8","name":"Debug Switch","property":"event","propertyType":"msg","rules":[{"t":"eq","v":"undefined","vt":"str"},{"t":"neq","v":"undefined","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":320,"wires":[["d82e6ce4.3b1b9"],["2df54100.1b4e48"]]},{"id":"d82e6ce4.3b1b9","type":"debug","z":"b5d1af96.0416f8","name":"Debug Sink","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":800,"y":180,"wires":[]},{"id":"e8314a78.e317a8","type":"http request","z":"b5d1af96.0416f8","name":"Send POST to IFTTT","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/{{event}}/with/key/bFHjcBZO8AsG4DCDVsZbol","tls":"","x":1120,"y":300,"wires":[[]]},{"id":"2df54100.1b4e48","type":"delay","z":"b5d1af96.0416f8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":320,"wires":[["e8314a78.e317a8"]]}]
